.main-login {
    flex: 1;
    margin-top: 2em;
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
    background-color: var(--white);
}

.logo {
    width: 22vw;
    height: 22vw;
}

.main-login h2 {
    margin: 0;
    font-weight: 700;
}

.main-login p {
    margin: 0;
    font-weight: 400;
    color: var(--dark-gray);
}

section + p {
    padding: 1.5em 0 2em;
    text-align: end;
}

form {
    margin: 1em auto;
}




/* Style input fields */
input {
    background-color: white;
    box-sizing: border-box;
    padding: 1.1em 0;
    width: 100%;
    text-align: center;
    margin-top: 2em;
    border: 1px solid var(--light-gray);
    border-radius: 0.3em;
    font-size: 1.1em;

}

/* Style submit button */
button[type="submit"] {
    background-color: var(--blue);
    color: white;
    padding: 1.5rem 0;
    width: 100%;
    font-size: 1.1em;
    font-weight: 500;

}


/* Hover effect for submit button */
button[type="submit"]:hover,
button[type="reset"]:hover {
    background-color: #45a049;
}