header {
    background-color: var(--blue);
    height: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navlink {
    /* height: 100%;
    padding: 0 1em;
    display: flex;
    align-items: center; */
    color: var(--white);
    text-decoration: none;
    font-weight: 400;
}

.navlink.active {
    color: var(--orange);
    font-weight: 500;
    /* background-color: #1244a0; */
}
