/* Import variables and heading styles */
@import url("./variables.css");
@import url("./headingStyles.css");

/* Highlighted text */
::-moz-selection {
  background: #ffe1ce;
}
::-webkit-selection {
  background: #ffe1ce;
}
::selection {
  background: #ffe1ce;
}

/* Global styles */
html,
body,
#root {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: 1.618;
  font-weight: var(--font-weight-regular);
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
