form {
    width: 90%;
    padding: 0.5em 1em;
}

section {
    margin: 0;
    padding: 1em;
}

.link {
    display: inline-block;
    text-align: right;
}

.right {
    text-align: right;
}

.under-btn {
    margin: 1.5em 0;
}

.blue {
    margin-left: 0.5em;
    color: #FF7E3D;
    text-decoration: none;
    font-weight: 600;
}

.label {
    display: inline-block;
    text-align: center;
    padding-top: 1em;
}

.center {
    text-align: center;
}


/* Style input fields */
input {
    box-sizing: border-box;
    padding: 1.1em 0;
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
    border: 1px solid #FFC145;
    border-radius: 15px;
}

input:focus {
    border-color: #FF7E3D;
}

/* Style submit button */
button[type="submit"] {
    background-color: #FFC145;
    border: 1px solid #FFC145;
    margin-top: 0;
    border-radius: 15px;
    color: white;
    padding: 1rem 0;
    width: 100%;
    font-size: 1.1em;
    font-weight: 500;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    cursor: pointer;
}


/* Tablets */
@media (min-width: 600px) {
    form {
        width: 70%;
        padding: 0.5em 1em;
    }
}


/* Tablets */
@media (min-width: 900px) {
    form {
        width: 90%;
        padding: 0.5em 1em;
    }
}