@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html, body, #root {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

/* Highlighted text */
::-moz-selection {
  background: #FFE1CE;
}
::-webkit-selection {
  background: #FFE1CE;
}
::selection {
  background: #FFE1CE;
}


:root {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  line-height: 1.618;
  font-weight: 300;

  --white: #F8FAFD;
  --blue: #154EB8;
  --black: #151515;
  --orange: #FFC145;
  --salmon: #FF715B;
  --light-gray: #EBEBEB;
  --dark-gray: #8B8B8B;
}

h1 {
  font-size: 4.23rem;
  font-weight: 600;
}

h2 {
  font-size: 2.62rem;
  font-weight: 700;
  color: #FF7E3D;
}

h3 {
  font-size: 1.618rem;
  font-weight: 400;
}

p {
  font-weight: 300;
}

.link {
  text-decoration: none;
  font-weight: 400;
  color: var(--dark-gray);
}