form {
    padding: 3em auto;
}

.link {
    display: inline-block;
    text-align: right;
    margin: 1em 0;
    padding: 0.5em 0
}

.right {
    text-align: right;
}

.inline {
    display: flex;
}

.inline input:last-child {
    margin-left: 1em;
}

button[type="submit"] {
    margin-top: 2em;
}